/* colors */
$dark-orange: rgb(161, 99, 6);
$black: rgb(12, 12, 1);
// styles

// reset:
// http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126
// License: none (public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 14px;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.3;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  .react-datepicker {
    background-color: $dark-orange;
    bottom: 13rem;
    right: 50%;
    font-size: 20rem;
    width: 20rem;
    @media (min-width:500px){
      width: 25rem;
      p{
              font-size: 40rem;

      }
     
    }
    .react-datepicker__header {
      background-color: #b99954;
      width: 20rem;
      @media (min-width:500px){
        width: 25rem;
      p{
              font-size: 40rem;

      }
    }

     
    }
     .react-datepicker__triangle {
        display: none;
      }
  }
  .react-datepicker__day{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0.5rem;
    @media (min-width: 500px){
      margin: 0.8rem;


    }
    font-family: "Ubuntu";
  }
  .react-datepicker__day-name{
    font-size: 1.2rem;
    margin: 0.5rem;
    font-weight: bolder;
     @media (min-width: 500px){
      margin: 0.8rem;
      font-size: 1.5;


    }

  }
  .react-datepicker__day--selected{
    
    background-color: #b99954;
  }
  .react-datepicker__day--selected:hover{
    background-color: #b98a25;

  }
}
.container {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  min-width: 15rem;
  height: 100%;

 
  flex: 1;

  .hidden {
    display: none;
  }

  .show {
    cursor: pointer;
    display: flex;
  }

  .up {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    h1 {
      color: $dark-orange;
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 2rem;
      padding: 2rem;
      width: 18rem;
      text-align: center;

      @media (min-width: 500px) {
        font-size: 1.8em;
        width: 25rem;
      }
      @media (min-width: 800px) {
        font-size: 2rem;
        width: 40rem;
      }
      @media (min-width: 1000px) {
        font-size: 3rem;
        width: 60rem;
      }
    }
  }

  .middle-container {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
 
    

    img {
      display: flex;
      align-self: center;
      width: calc(30rem / 1.2);
      height: calc(20rem / 1.2);

      margin-bottom: 2rem;
      width: 22rem;

      @media (min-width: 500px) {
        width: calc(30rem / 1);
        height: calc(20rem / 1);
      }
      @media (min-width: 800px) {
        width: calc(30rem / 0.67);
        height: calc(20rem / 0.67);
      }
      @media (min-width: 1000px) {
        width: calc(30rem / 0.67);
        height: calc(20rem / 0.67);
      }
    }

    flex: 1;

    .first {
      display: flex;
      flex-direction: column;
      align-self: center;
      flex: 1;

      @media (min-width: 500px) {
        font-size: 2.3em;
      }

      .date-container {
        align-items: center;
        display: flex;
        flex-direction: column;

        .date {
          align-self: flex-end;
          color: $dark-orange;
          display: flex;
          font-size: 1.1rem;
          margin-bottom: 1rem;
          justify-content: flex-end;

          @media (min-width: 500px) {
            font-size: 1.2rem;
          }
        }
      }

      h3 {
        color: $dark-orange;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 1rem;

        @media (min-width: 400px) {
          font-size: 1.2rem;
        }

        @media (min-width: 500px) {
          font-size: 1.3rem;
        }
      }
      p {
        display: flex;
        align-self: center;
        background-color: $black;
        color: $dark-orange;
        font-size: 1.1rem;
        width: 20rem;

        @media (min-width: 400px) {
          font-size: 1.2rem;
          width: 23rem;
        }

        @media (min-width: 500px) {
          font-size: 1.2rem;
          width: 26rem;
        }
        @media (min-width: 800px) {
          font-size: 1.3rem;
          width: 40rem;
        }
        @media (min-width: 800px) {
          font-size: 1.3rem;
          width: 50rem;
        }
      }
    }

    .second {
      align-self: center;
      display: flex;
      flex: 1;
      flex-direction: column;

      p {
        display: flex;
        align-self: center;
        color: $dark-orange;
        font-size: 2rem;
        margin-top: 3rem;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 10rem;
    height: 100%;
    width: 100%;

    button.date-picker {
      background-color: $dark-orange;
      border-radius: 5px;
      color: $black;
      font-size: 1.2rem;
      height: 4rem;
      margin-top: 5rem;

      span {
        color: $black;
        font-weight: bold;
        cursor: pointer;
        font-size: 2rem;
        height: 4rem;
      }
    }

    form {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 3rem;

      input {
        color: $dark-orange;
        cursor: pointer;
        font-size: 3rem;
        text-align: center;
        background-color: $dark-orange;
        border-radius: 5px;
        color: $black;
        font-size: 1.2rem;
        height: 4rem;
        margin-top: 5px;
      }
    }
  }
  footer {
    p {
      display: flex;
      align-self: center;
      color: $dark-orange;
      font-size: 1rem;
      margin-top: 0rem;
      padding: 1.2rem;
    }
  }
}
